:root {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.one {
  background: #aaa;
}
section.two {
  background: #bbb;
}
section.three {
  background: #ccc;
}
section.four {
  background: #ddd;
}

.skills {
  text-align: center;
}

.skills h3 {
  margin: 35px 0 10px 0px;
}

.skills .progress {
  height: 25px;
  width: 50vw;
  background: #ffffff;
  border-radius: 4px;
}
.skills .progress span {
  display: block;
  height: 100%;
  background: #2196f3;
  border-radius: 4px;
  transition: 700ms;
}
