:root {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #333;
}

.toggle {
  width: 45px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.toggle span {
  display: block;
  background: white;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  transition: 0.4s;
}

.toggle.active span.one {
  background: #e70000;
  transform: translateY(12.5px) rotate(45deg);
}
.toggle.active span.two {
  transition: 0.15s;
  opacity: 0;
}
.toggle.active span.three {
  background: #e70000;
  transform: translateY(-12.5px) rotate(-45deg);
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0000007a;
  height: 0;
  text-align: center;
  transition: 400ms;
  transform: translateY(-105%);
  opacity: 0.2;
}
nav.active {
  transform: translateY(0%);
  opacity: 1;
  height: calc(100vh - 16px);
}
nav.active a {
  padding: 0px;
  font-size: 0px;
  padding: 17px 0;
  font-size: 25px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  width: calc(100vw - 16px);
  transition: 300ms;
  padding: 0px;
  font-size: 0px;
}
nav a:hover {
  background-color: #305497;
}
