:root {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.up {
  position: fixed;
  background: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  padding: 0;
  width: 0;
  height: 0;
  color: white;
  font-weight: bold;
  font-size: 0;
  border-radius: 0px;
  bottom: 40px;
  right: -10px;
  transition: 0.4s;
  cursor: pointer;
}

.up.active {
  right: 40px;
  border-radius: 8px;
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  transform: rotate(270deg);
}
